.so-widget-sow-headline-sow-headline-a92658736cf2 #sow-headline-container.sow-headline h1 {
  text-align: center;
  color: #404040;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-a92658736cf2 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #404040;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-a92658736cf2 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #404040;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}