.so-widget-sow-headline-sow-headline-b06858b90eff #sow-headline-container.sow-headline h1 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-b06858b90eff #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-b06858b90eff #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}